html {
  font-family: cursive;
  background: url(Img/GalaxyBackground.jfif) no-repeat center fixed;
  background-size: cover;
}

body {
  border: solid;
  border-color: rgb(74, 9, 104);
  width: 700px;
  margin: 25px auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  border-radius: 50px;
  font-size: larger;
  background-color: white;
}
h1,
h2 {
  text-align: center;
}
a {
  color: mediumorchid;
}
a:hover {
  font-style: italic;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(153, 120, 192);
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(152, 103, 197);
}
